body{
    margin:0;
    display:flex;
    justify-content: center;
    background-color: beige;
}
.form{
    position: absolute;
    top:30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width:400px;
    background-color:azure;
    border-radius:10px;

}
.input{
    width:100%;
    box-sizing: border-box;
    padding:20px;
    border-radius: 10px 10px 0 0;
    border:none;
    font-size: 15px;
    font-family:sans-serif;

}
.input::placeholder{
    color:lightgrey;
}
.list{
    padding: 0;
    margin:0;

}
.list li{
    list-style-type:none;
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top: double;
    border-color: darkgray;
    position: relative;
}
.list li .fa-square-check{
    color:green;
    position:absolute;
    right:40px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;

}
.list li .fa-trash{
    color:red;
    position:absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.list li.checked{
    color:darkgrey;
    text-decoration: line-through;
}
.list li.checked .fa-square-check{
    color:darkgrey;
    
}