body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-top: 50px;
  }
  
  button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #3F51B5; /* indigo */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #303F9F; /* dark indigo */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  }
  
  input[type=text] {
    font-size: 1.2em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3F51B5; /* indigo */
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  
  input[type=text]:focus {
    border: 2px solid #9C27B0; /* deep purple */
    outline: none;
  }
  
  #result {
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  .equal {
    color: #4CAF50; /* green */
  }
  
  .not-equal {
    color: #F44336; /* red */
  }
  