*{
    margin:0;
    padding:0;
}
body{
    background-image:url(https://img.freepik.com/premium-vector/vector-tropical-bananas-palm-textural-seamless-pattern_77430-120.jpg?size=626&ext=jpg&ga=GA1.1.1989010684.1672821337); 
    background-repeat: no-repeat;
    background-size: 100%;
    
    background-position: center center;
    
}
div.main{
    width: 400px;
    margin: 100px auto 34px 450px ;
    
}
h1{
    text-align: center;
    padding:20px;
    font-family:sans-serif;
    font-style: italic;
}
div.register{
    background-color:rgba(32, 32, 28,0.7);
    width:150%;
    font-size:20px;
    border-radius:10px;
    border:greenyellow solid 2px;
    box-shadow: 1px 1px 5px;
    color:white;
}
form#register{
    margin:10px;

}
label{
    font-family: sans-serif;
    font-size:20px;
    font-style:italic;

}
input type[text]{
    width:300px;
    height: 300px;
    border-radius: 4px;
    border:1px solid #ddd;
    padding:7px;
    background-color: #fff;

}
input#submission{
    width: 250px;
    padding:7px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    border:none;
    border-radius:3px;
    size:100%;
}
input.sub hover{
    background-color: yellow;
}