*{
    padding:10;
    margin:10;
    font-family:sans-serif;

}
body{
    background: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fr1.ilikewallpaper.net%2Fiphone-14-plus-wallpapers%2Fdownload-143478%2Fblissey-hd.jpg&imgrefurl=https%3A%2F%2Fwww.ilikewallpaper.net%2Fiphone-wallpaper%2Fblissey-hd%2F143478&tbnid=JOz9-0QiItS-4M&vet=10CAoQxiAoAWoXChMIwLy8sJup_AIVAAAAAB0AAAAAEAg..i&docid=F3JGeYiLtLJsMM&w=1284&h=2778&itg=1&q=background%20images%20for%20registration%20form&hl=en&ved=0CAoQxiAoAWoXChMIwLy8sJup_AIVAAAAAB0AAAAAEAg);
    color: #000;

    
}
.Registration-form{
      position:absolute;
      top:40%;
      left:40%;
      transform:translate(-50%,-50%)
      width:350px;

}
.Registration-form h1{
    font-size:30px;
    text-align:center;
    text-transform:uppercase;
    margin:40px 0;

}
.Registration-form p{
    font-size: 20px;
    margin:15px 0;

}
.Registration-form input{
    font-size: 16px;
    padding:15px 10px;
    width: 100%;
    border:0;
    border-radius:5px;
    outline:none;
}
.Registration-form button{
    font-size: 18px;
    font-weight:boid;
    margin:20px 0;
    padding:10px 15px;
    width:50%;
    border:0;
    border-radius:5px;
    background-color: beige;

}
.Registration-form button:hover{
    color:red;

}